body {
    font-family: Arial, sans-serif;
    background-color: #808080; /* Gris rata */
    padding: 20px;
    text-align: center;
}

#image-container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img {
    max-width: 100%;
}

#navigation-form {
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    background-color: #0056b3;
}
